<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <div class="gallery">
        <% for (let i=0; i<projects.length; i++){%>
            <div class="gallery-item">
                <a href="/gallery/<%=projects[i].id%>"><img id="gallery-image" src="<%=projects[i].img%>"></a>
                <a href="/gallery/<%=projects[i].id%>"><p><%=projects[i].name%></p></a>
            </div>
        <%}%>
    </div>
</body>
</html>