<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="container">
        <div class="container-item">
            <img id="image-preview" src="<%=project.img%>">
        </div>
        <div class="container-item grid-display">
            <span class="left">Name: </span><span class="right"><%=project.name%></span>
            <span class="left">Time Created:</span><span class="right"><%=time%></span>
            <span class="left">Colors: </span><span class="right"><%=project.colors.join(', ')%></span>
            <span class="left">Yarn Brands: </span><span class="right"><%=project.yarnBrands.join(', ')%></span>
            <span class="left">Pattern Credit: </span><span class="right"><%=project.patternCredit%></span>
            <span class="left">Completed: </span><span class="right"><%=project.complete%></span>
            <span class="left">Description: </span><span class="right"><%=project.description%></span>
            <div class="edit-delete">
                <a href="/gallery/<%=project.id%>/edit"><input type="button" value="Edit"></a>
                <form action="/gallery/<%=project.id%>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete?')">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</body>
</html>