<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
        <div class="container">
            <img id="image-preview" src="<%=project.img%>">
        </div>
        <div class="container-item grid-cols-3">
            <span class="cols-start-1 cols-span-1">Name: </span><span class="cols-start-2 cols-span-2"><%=project.name%></span>
            <span class="cols-start-1 cols-span-1">Time Created:</span><span class="cols-start-2 cols-span-2"><%=time%></span>
            <span class="cols-start-1 cols-span-1">Colors: </span><span class="cols-start-2 cols-span-2"><%=project.colors.join(', ')%></span>
            <span class="cols-start-1 cols-span-1">Yarn Brands: </span><span class="cols-start-2 cols-span-2"><%=project.yarnBrands.join(', ')%></span>
            <span class="cols-start-1 cols-span-1">Pattern Credit: </span><span class="cols-start-2 cols-span-2"><%=project.patternCredit%></span>
            <span class="cols-start-1 cols-span-1">Completed: </span><span class="cols-start-2 cols-span-2"><%=project.complete%></span>
            <span class="cols-start-1 cols-span-1">Description: </span><span class="cols-start-2 cols-span-2"><%=project.description%></span>
            <div class="container flex sm">
                <a href="/gallery/<%=project.id%>/edit"><input type="button" value="Edit"></a>
                <form action="/gallery/<%=project.id%>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to delete?')">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</body>
</html>